[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Appinfo
Name[en]=Appinfo
Name[es]=Appinfo
Name[ca_ES.UTF-8@valencia]=Appinfo
Name[ca_ES]=Appinfo
Comment=Get info of an installed app
Comment[es]=Muestra información de las aplicaciones instaladas
Comment[ca_ES.UTF-8@valencia]=Mostra informació de les aplicacions instal·lades
Comment[ca_ES@valencia]=Mostra informació de les aplicacions instal·lades
Comment[ca_ES]=Mostra informació de les aplicacions instal·lades
Exec=/usr/bin/appinfo
Icon=appinfo
Type=Application
GenericName=appinfo
Categories=LliureX-Administration;GTK
