Source: appinfo
Section: admin
Priority: extra
Maintainer: LliureX Team <lliurex@gva.es>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>, Juan Ramon Pelegrina <juapesai@hotmail.com>
Build-Depends: debhelper (>= 8.0.0),llxsrchelper,llxcfg-dev
Standards-Version: 3.9.5
Homepage: http://www.lliurex.net

Package: appinfo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-lliurex-store (>=0.5.9), gir1.2-gtk-3.0
Description: appInfo
 Display info about an installed package
